body {
    background-color: rgb(0, 0, 0);
}


.logo img {
    width: 120px;
}
.logo:hover {
    cursor: pointer;
}

.ob {
    position: absolute;
    top: 20px;
    left: 670px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(196, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.ob li:hover {
    color: white;
    cursor: pointer;
}


.loc {
    list-style: none;
    position: absolute;
    top: 14px;
    left: 1145px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 70;
    font-size: 20px;
    color: rgb(196, 195, 195);
    padding: 5px 15px;
    border-radius: 10px;
}
.loc img {
    width: 23px;
    border-radius: 50%;
}
.loc:hover {
    background-color: rgb(56, 56, 56);
    cursor: pointer;
}


.getapp{
    list-style: none;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    position: absolute;
    top: 16px;
    left: 1270px;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 70;
    font-size: 17px;
    border-radius: 5px;
}
.getapp:hover {
    border: 2px solid rgb(154, 153, 153);
    cursor: pointer;
}


.profile {
    position: absolute;
    top: 8px ;
    border-radius: 50%;
    left: 1400px;
    background-color: black;
}
.profile img {
    width: 50px;
}
.profile:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}


.cart {
    position: absolute;
    top: 10px ;
    border-radius: 100px;
    left: 1450px;
    background-color: black;
    padding: 4px 4px;
}
.cart img {
    width: 40px;
}
.cart:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

.cover img{
    position: absolute;
    width: 1500px;
}

.downnav img {
    position: absolute;
    top: 700px;
    left: 480px;
    width: 600px;
}

.scrollbar {
    padding: 3px;
    position: absolute;
    width: 1000px;
    height: 300px;
    top: 900px;
    left: 150px;
} 
.scrollbar-container {
    display: flex;
    width: 1235px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}
.scrollbar img {
    min-width: 400px;
    height: 420px;
    border-radius: 20px;
    padding: 5px;
    position: relative;
}

.line {
    position: absolute;
    top: 1320px;
    left: 630px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 70;
    font-size: 13px;
    color: rgb(150, 150, 150);
}

.pictureone img {
    position: absolute;
    width: 620px;
    top: 1400px;
    left: 120px;
}
.picturetwo img{
    position: absolute;
    width: 660px;
    top: 1400px;
    left: 760px;
}

.downnavt img {
    position: absolute;
    top: 2000px;
    left: 480px;
    width: 600px;
}

.scrollbart {
    padding: 3px;
    position: absolute;
    width: 1000px;
    height: 300px;
    top: 2200px;
    left: 150px;
} 
.scrollbar-containert {
    display: flex;
    width: 1235px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}
.scrollbart img {
    min-width: 400px;
    height: 420px;
    border-radius: 20px;
    padding: 5px;
    position: relative;
}

.linet {
    position: absolute;
    top: 2630px;
    left: 630px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 70;
    font-size: 13px;
    color: rgb(150, 150, 150);
}

.footer img {
    position: absolute;
    top: 2800px;
    width: 1500px;
}